<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">{{ currentUserExamId ? "Update User Exam" : "Add User Exam" }}</h5></div>
            <div class="card-body">
                <form [formGroup]="userExamForm">
                    <div class="mb-3">
                        <label for="userId">User Name</label>
                        <div class="form-group">
                            <select class="form-select" aria-label="Default select example" formControlName="userId">
                                <option *ngFor="let user of users" [ngValue]="user.id">{{user.firstName}}</option>
                              </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="score">Exam Name</label>
                        <div class="form-group">
                            <select class="form-select" aria-label="Default select example" formControlName="examId">
                                <option *ngFor="let exam of exams" [ngValue]="exam.id">{{exam.title}}</option>
                              </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button
                class="btn btn-fill btn-success"
                (click)="currentUserExamId ? update() : add()"
              >
                {{ currentUserExamId ? "Update" : "Add" }}
              </button>
            </div>
        </div>
        
    </div>
    
</div>